body {
	background-color: #1d1e22;
	font-family: helvetica;
	color: #ffffff;
	text-align: center;
}


h1 {
	margin-top: 20%;
	color: #9fcd22;
	font-size: 3.5rem;
}

h2 {
	font-size: 2.5rem;
	margin-top: 16%;

}

h3 {
	margin-top: 12%;
	margin-bottom: 8%;
}

.ref {
	font-size: 0.8rem;
	opacity: 0.7;
}

.heading-text {
	margin-top: 5px;
	margin-bottom: 8px;
}

h1 .heading-text {
	font-size: 5.5rem;
}


.bold-green {
	color: #9fcd22;
}

.codepen {
	max-width: 90%;
	min-width: 50%;
	text-align: center;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 30px;
}

img {
	width: auto;
	max-height: 400px;
}

.big-img {
	width: auto;
	min-height: 700px;
	max-height: 800px;
}

.annoying-ball {
	background-color: red;
	height: 30px;
	width: 20%;
	display: inline-block;
	text-align: center;
	padding-top: 8px;
	border-radius: 20px;
}

a {
	color: #9fcd22;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
